<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand" style="color: whitesmoke;"
          ><strong>CapStore</strong></span
        >
      </div>
      <ul class="nav navbar-nav">
        <li style="color: whitesmoke;" class="active">
          <a href="#"><span class="glyphicon glyphicon-home"></span> LogIn</a>
        </li>
        <li style="color: whitesmoke;">
          <a href="#"
            ><span
              style="color: whitesmoke;"
              class="glyphicon glyphicon-globe"
            ></span>
            About Us</a
          >
        </li>
        <li style="color: black;">
          <a href="#"
            ><span
              style="color: whitesmoke;"
              class="glyphicon glyphicon-envelope"
            ></span>
            Mail Us</a
          >
        </li>
        <li style="color: whitesmoke;">
          <a href="#"
            ><span
              style="color: whitesmoke;"
              class="glyphicon glyphicon-earphone"
            ></span>
            Call Us</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="loginbox">
    <img src="/assets/Images/avatar.svg" class="avatar" alt="User" />
    <form #enForm="ngForm" novalidate>
      <div class="form-group">
        <label>Current Password</label>
        <input
          type="password"
          class="form-control"
          pattern="^[A-Za-z0-9\s]{5,100}$"
          #pass="ngModel"
          placeholder="Current Password"
          id="currPass"
          name="currPass"
          [(ngModel)]="currentPassword"
          required
        />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
          <small class="text-danger">
            <small *ngIf="pass.errors.required">
              Password is required.
            </small>
            <small *ngIf="pass.errors.pattern">
              Min length 5.
            </small>
          </small>
        </div>
        <label>New Password</label>
        <input
          type="password"
          class="form-control"
          pattern="^[A-Za-z0-9\s]{5,100}$"
          #pass="ngModel"
          placeholder="New Password"
          id="newPass"
          name="newPass"
          [(ngModel)]="newPassword"
          required
        />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
          <small class="text-danger">
            <small *ngIf="pass.errors.required">
              Password is required.
            </small>
            <small *ngIf="pass.errors.pattern">
              Min length 5.
            </small>
          </small>
        </div>
        <label>Confirm New Password</label>
        <input
          type="password"
          class="form-control"
          pattern="^[A-Za-z0-9\s]{5,100}$"
          #pass="ngModel"
          placeholder="Confirm New Password"
          id="confPass"
          name="confPass"
          [(ngModel)]="confirmPassword"
          required
        />
        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
          <small class="text-danger">
            <small *ngIf="pass.errors.required">
              Password is required.
            </small>
            <small *ngIf="pass.errors.pattern">
              Min length 5.
            </small>
          </small>
        </div>
      </div>
      <input
        type="submit"
        name="submit"
        value="Change Password"
        (click)="onSubmit(enForm)"
        [disabled]="enForm.form.invalid"
      />
    </form>
    <div [hidden]="!submitted">
      <div align="center">
        <br />
        <h3>{{ message }}</h3>
        <br />
      </div>
    </div>
  </div>
</body>
